<form [formGroup]="getCompanyForm">
  <div class="form-group">
    <div formControlName="companies" class="form-control" id="companies">
      <div class="card profile-card-3" *ngFor="let s of company.specialists" value="{{s.specialistId}}">
        <div class="background-block">
          <img src="../../assets/images/profilebg2.png" class="background" />
        </div>
        <div class="profile-thumb-block">
          <img src="../../assets/images/user2.png" class="profile" />
        </div>
        <div class="card-content">
          <h2>
            {{s.fullName}}
            <small>Plumber</small>
          </h2>
          <div class="icon-block"><a href="#"><i class="fa fa-facebook" alt="See the full profile"></i></a></div>
        </div>
      </div>
    </div>
  </div>
  </form>
