<label>Register as:</label>
<div [(ngModel)]="userType">

  <!-- Default inline 1-->
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" mdbInput>
    <label class="custom-control-label" for="defaultInline1">Specialist</label>
  </div>

  <!-- Default inline 2-->
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" mdbInput>
    <label class="custom-control-label" for="defaultInline2">Customer</label>
  </div>
</div>

