<div class="container">

  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img src="../../assets/images/user2.png" alt="Maxwell Admin">
              </div>
              <h5 class="user-name">Dr House</h5>
              <h6 class="user-email">drHouse@gmail.com</h6>
            </div>
            <div class="about">
              <h5 class="mb-2 text-primary">About</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />




    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-3 text-primary" style="padding: 1rem;"><b>Personal Details</b></h6>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p id="label"><b>Name</b></p>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p id="label"><b>Phone no.</b></p>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p id="data">Doctor</p>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p id="data">12 676 12 98</p>
              </div>
            </div>
            <br /><br><br />

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p id="label"><b>Surname</b></p>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p id="label"><b>Mobile No.</b></p>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p id="data">House</p>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p id="data">666 712 234</p>
              </div>
            </div>

          </div>
          <br />


          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-3 text-primary" style="padding: 1rem;"><b>Specialist data</b></h6>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p id="label"><b>Occupation</b></p>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p id="label"><b>Company</b></p>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p id="data">Electrician</p>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p id="data">Dr.House & Co.</p>
              </div>
            </div>
            <br /><br><br />

          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
