body {
  background-color: #11234A;
  padding-top: 30px;
  color: #70FFFC;
  margin-top:10%;
  margin-bottom: 10%;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#logo-main{
    width: 100%;
}

.left-form {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  width: 300px;
}

.right-form {
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-content: space-around;
  width: 300px;
}

.login-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.image-below{
    width: 10%;
}

#main-text {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size:15px;
  font-weight: bold;
  text-align: center;
}

