#signup-text{
    text-align:center;
    margin-bottom: 0;
}

#drawer-signup {
  display: flex;
  justify-content: center;
}

.navbar-toggle {
  opacity: 0.6;
  border-color: transparent;
  background-color: transparent;
  outline: 0;
  transform: rotate(180deg);
}

  .navbar-toggle:hover{
      opacity: 1;
  }

  .navbar-toggle::after {
    content: '^';
    font-size: 25px;
    color: #70FFFC;

  }

.flex-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 20%;
  margin-left: 20%;
}

  .flex-form .left-form {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .flex-form .right-form {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

.below-form {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
