#signup-text{
    text-align:center;
    margin-bottom: 0;
}

#drawer-signup{
    display: flex;
    justify-content: center;
    width: 300px;
}

.navbar-toggle {
  opacity: 0.6;
  border-color: transparent;
  background-color: transparent;
  outline: 0;
  transform: rotate(180deg);
}

  .navbar-toggle:hover{
      opacity: 1;
  }

  .navbar-toggle::after {
    content: '^';
    font-size: 25px;
    color: #70FFFC;

  }

