<p id="signup-text">Not a member yet? Sign up here!</p>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div id="drawer-signup" class="container">
    <div class="collapse navbar-collapse navHeaderCollapse">
      <form [formGroup]="signupForm" class="nav navbar-nav">
        <div class="form-group">
          <input formControlName="newUsername" type="text" class="form-control" id="newLogin" placeholder="Username">
          <label for="newLogin">Username</label>
        </div>
        <div class="form-group">
          <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="Password">
          <label for="newPassword">Password</label>
        </div>
        <div class="form-group">
          <input formControlName="repeatPassword" type="password" class="form-control" id="repeatPassword" placeholder="Repeat password">
          <label for="repeatPassword">Repeat password</label>
          <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" [disabled]="signupForm.invalid" onclick="location.href = '/home'">Sign up!</button>
        </div>
      </form>
    </div>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse"></button>
  </div>
</div>
