
<p id="signup-text">Not a member yet? Sign up here!</p>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div id="drawer-signup" class="container">
    <div class="collapse navbar-collapse navHeaderCollapse">

      <form [formGroup]="chooseUserType" class="user-type">
        <div class="custom-control custom-radio custom-control-inline">
          <input formControlName="userType" type="radio" id="customer" value="customer" class="custom-control-input">
          <label for="customer" class="custom-control-label">Customer</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input formControlName="userType" type="radio" id="specialist" value="specialist" class="custom-control-input">
          <label for="specialist" class="custom-control-label">Specialist</label>
        </div>
      </form>

      <div *ngIf="userType.value === 'customer'"><app-create-customer></app-create-customer></div>
      <div *ngIf="userType.value === 'specialist'"><app-create-specialist></app-create-specialist></div>

    </div>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse"></button>
  </div>
</div>
