#signup-text{
    text-align:center;
    margin-bottom: 0;
}

#drawer-signup {
  display: flex;
  justify-content: center;
}

.user-type {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.navbar-toggle {
  opacity: 0.6;
  border-color: transparent;
  background-color: transparent;
  outline: 0;
  transform: rotate(180deg);
}

  .navbar-toggle:hover{
      opacity: 1;
  }

  .navbar-toggle::after {
    content: '^';
    font-size: 25px;
    color: #70FFFC;

  }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #5bd3d7;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #5bd3d7;
  background-color: #5bd3d7;
  box-shadow: 0 0 0 #5bd3d7;
}

