<div *ngIf="!specialistsVisible" class="album py-5">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <a [routerLink]="['/companies']">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/companies.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>DOCTOR HOUSE COMPANIES</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>

      <div *ngIf="currentUser.role == 'specialist'" class="col-md-4">
        <a [routerLink]="['/my-scheduler']">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/scheduler.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>MY SCHEDULER</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>

      <div *ngIf="currentUser.role == 'customer'" class="col-md-4">
        <div class="card mb-4 box-shadow" (click)="showSpecialists()">
          <br />
          <img class="card-img-top" img src="../../assets/images/specialists.png" alt="Card image cap" style="width: 100px; height: 100px;">
          <div class="card-body">

            <p class="card-text"><b>DOCTOR HOUSE SPECIALISTS</b></p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <a [routerLink]="['/my-appointments']">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/appointments.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>MY APPOINTMENTS</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>


<div *ngIf="specialistsVisible" class="album py-5">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <a [routerLink]="['/specialists-list']" [queryParams]="{filter: 'gardener'}">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/gardener.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>GARDENER</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a [routerLink]="['/specialists-list']" [queryParams]="{filter: 'electrician'}">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/electrician.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>ELECTRICIAN</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>


      <div class="col-md-4">
        <a [routerLink]="['/specialists-list']" [queryParams]="{filter: 'locksmith'}">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/locksmith.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>LOCKSMITH</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>


      <div class="col-md-4">
        <a [routerLink]="['/specialists-list']" [queryParams]="{filter: 'plumber'}">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/plumber.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>PLUMBER</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>



      <div class="col-md-4">
        <a [routerLink]="['/specialists-list']" [queryParams]="{filter: 'tailor'}">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/tailor.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>TAILOR</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a [routerLink]="['/specialists-list']" [queryParams]="{filter: 'indoorpainter'}">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/indoorpainter.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>PAINTER</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a [routerLink]="['/specialists-list']" [queryParams]="{filter: 'bricklayer'}">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/bricklayer.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>BRICKLAYER</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
