<div class="album py-5">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <a href="specialists-list">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/gardener.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>GARDENER</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="specialists-list">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/electrician.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>ELECTRICIAN</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>


      <div class="col-md-4">
        <a href="specialists-list">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/locksmith.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>LOCKSMITH</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>


      <div class="col-md-4">
        <a href="specialists-list">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/plumber.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>PLUMBER</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>



      <div class="col-md-4">
        <a href="specialists-list">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/tailor.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>TAILOR</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="specialists-list">
          <div class="card mb-4 box-shadow">
            <br />
            <img class="card-img-top" img src="../../assets/images/indoorpainter.png" alt="Card image cap" style="width: 100px; height: 100px;">
            <div class="card-body">

              <p class="card-text"><b>PAINTER</b></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
