#appointmentCard {
  margin-left: auto;
  margin-right: auto;
}

body {
  margin-top: 20px;
  color: #bcd0f7;
  background: #1A233A;
}

.text-primary {
  color: #97d3e1 !important;
  font-size: 1.4rem;
}

.labels {
  color: #97d3e1 !important;
  font-size: 1rem;
}

p {
  color: #6b97a4 !important;
  font-size: 1rem;
}

.card {
  background: #11234a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
}

.form-control {
  opacity: 0.8;
}

.form-error {
  color: #70FFFC;
}

label.btn.btn-primary {
  color: #70FFFC;
  border-color: #70FFFC;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

  label.btn.btn-primary:hover {
    color: #11234A;
    font-weight: bold;
    background-color: #70FFFC;
  }

