/* You can add global styles to this file, and also import other style files */
/* Provide sufficient contrast against white background */

@import "~bootstrap/dist/css/bootstrap.css";

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background-color: #11234A;
  min-width: 100%;
}

  body.dark-bg {
    background-color: #11234A;
    min-width: 100%;
  }

  body.light-bg {
    background-color: #f8f9fa;
/*    background-image: url("~/assets/images/footimage.png");
    background-position: right bottom;
    background-repeat: no-repeat;*/
  }



code {
  color: #e01a76;
}
