

@import "~bootstrap/dist/css/bootstrap.css";

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background-color: #11234A;
  min-width: 100%;
}

  body.dark-bg {
    background-color: #11234A;
    min-width: 100%;
  }

  body.light-bg {
    background-color: #f8f9fa;
  }



code {
  color: #e01a76;
}
