<nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: #11234A;">
  <app-nav-logo></app-nav-logo>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <app-menu-dropdown-link></app-menu-dropdown-link>
      <app-menu-dropdown-link></app-menu-dropdown-link>
      <app-menu-dropdown-link></app-menu-dropdown-link>
    </ul>
    <app-user-login-button></app-user-login-button>
  </div>
</nav>
