.flex-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 20%;
  margin-left: 20%;
}

  .flex-form .left-form {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .flex-form .right-form {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

.below-form {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
