

.bg-white, div.dropdown-menu.border-0.p-0.m-0.show {
  background-color: #1b3163 !important;
}

div.dropdown-menu.border-0.p-0.m-0.show {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}


a.nav-link.text-small.pb-0 {
  color: #cafffe; font-weight: 500;
}

  a.nav-link.text-small.pb-0:hover {
    color: #6b97a4;
    opacity: 0.75;
  }

  a.nav-link.text-small.pb-0:active {
    color: #fff;
  }

  #logout{
      cursor: pointer
  }

#loggedUser {
    min-width: 150px;
    display: flex;
    color:#70FFFC ;
}
